.vscode-server
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.bbl
*.blg
*.dvi
latex/springer/fig1.eps
latex/springer/history.txt
latex/springer/LaTeX2e+Proceedings+Templates+download.zip
latex/.vscode/settings.json
